
<div class="form-container">

  <h1>edit post: <%= @post.title %> </h1>

  <%= render 'form' %>

  <% if @post.errors.any? %>
      <ul class="signup-errors">
        <% @post.errors.full_messages.each do |message_error|%>
            <li class="signup-error">* <%= message_error %></li>
        <% end %>
      </ul>
  <% end %>

</div>