// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments-container{
  margin-top: 50px;
}

.comments-container .comment-textarea{
  max-width: 600px;
  max-height: 90px;
}

.comments-box{
  max-width: 800px;
}

.comments-box .comment{
  margin: 20px 0px;
}

.comments-box .comment-user{
  font-size: 16px;
}

.comments-box .comment-user b{
  font-weight: bold;
}

.comments-box .comment .comment-text{
  padding: 10px 10px;
  margin: 5px 0px;
  background-color: #f1f1f1;
  border: 1px solid #BBBBBB;

}